<p class="h1 text-center">Détails sur l'auteur</p>
<div class="row">
<div class="card container" style="width: 18rem;">
  <img src="https://img.20mn.fr/sIChN5W-TCG0VWSpGYJYLw/1200x768_tous-trolls" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @author.first_name%><%= @author.last_name%></h5>
    <p class="card-text"><%= @author.description%></p>
    <p class="card-text">Email :<%= @author.email%></p>
  </div>
</div>
</div>

